@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400');

$white: #ffffff;
$primary: #262c35;
$secondary: rgba(227, 85, 87, 0.7);
$green: rgba(85, 202, 85, 0.7);
$blue: rgba(33, 149, 243, 0.7);

$font-size: 1rem;

$max-width: 40rem;